<template lang="pug">
  v-card(v-if='item').elevation-0
    v-card-media(:src='item.img_url', :height="item.img_height", :width="item.img_width")
      v-btn(icon).btn-fav
        v-icon(color='white') favorite_border
    v-card-text.px-0
      h3.type {{ item.property_type | toUppercase }} - {{ item.bedroom_number }} BED
      h3 {{ item.title }}
      p {{ item.summary }}
      h4 From {{ item.price_formatted }} per night
      v-icon(v-for='(i, index) in 5', :key='index', small, color='teal darken-1').star star_rate
</template>

<script>
export default {
  props: ['item'],
  filters: {
    toUppercase (value) {
      return value.toUpperCase()
    }
  }
}
</script>

<style lang="scss" scoped>
.btn-fav{
  position: absolute;
  right: 0px;
  opacity: 0.9;
}
.type {
  color: #9b3143;
}
p {
  margin-bottom: 0;
}
.star{
  display: inline-block;
  width: 15px;
}
</style>




