<template lang='pug'>
  v-container(grid-list-lg)
    v-layout(row, wrap)
      v-flex(md4, sm6, xs12, v-for='(item, index) in listings', :key='index')
        h-item(:item='item')
</template>

<script>
import listingService from '@/services/listing'
import HItem from '@/components/item'

export default {
  components: {
    HItem
  },
  data () {
    return {
      listings: []
    }
  },
  created () {
    this.getListings()
  },
  methods: {
    async getListings () {
      const listings = await listingService.get()
      this.listings = JSON.parse(listings).response.listings
    }
  }
}
</script>

